@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(177, 225, 255);
}

button {
    height: 50px;
    width: 50px;
    border-radius: 10%;
    border: 3px outset rgb(228, 128, 128);
    background-color: rgb(228, 218, 218);
    color: black;
    font-size: 19pt;
    font-weight: 600;
    text-align: center;
}

#counter {
    display: flex;
}

#IDcurrentNumber {
    display: flex;
    align-items: center;
    margin:0 30px;
    font-size: 49pt;
    font-weight: bolder;
}